@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);


html,
body {
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  text-align: left;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

/*Modo Escuro*/
.modo-escuro {
  background-color: #333 !important;
  color: #fff;
}

.modo-escuro2 {
  background-color: #202020;
  color: #fff;
}

.modo-claro {
  color: #fff;
}

#modoEscuro {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#modoEscuro:hover {
  background-color: #333;
  color: #fff;
}

/*Classes*/

.icon {
  color: #000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 40px;
}

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


/*cabeçalho*/

.search-icon {
  position: relative;
  left: -25px;
}


.cabecalho {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #9b9b9b;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex-direction: row-reverse;
}


header div button {
  border: 1px solid black;
  border-radius: 30px 0 0 30px;
  text-align: center;
  padding-top: 0;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-inline: 5px;
  padding-left: 7px;
}

header div button:hover {
  background-color: #fff;
}


header div button img {
  width: 10px;
  height: 10px;
}

header div input[type="text"] {
  padding: 6px 10px;
  margin-left: 0;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 4px;
}

nav {
  background-color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

li a:hover {
  color: #9b3535 !important;
}

.logo {
  width: 50px;
  height: 50px;
}

button {
  background-color: #fff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: #000000;
}

li a:hover {
  text-decoration: none;
  color: currentColor;
  padding: 5px;
}

button:focus button:hover {
  background-color: rgb(209, 209, 209);
}

a {
  color: #862727;
}

a:focus,
a:hover {
  border: 2px solid #862727;
  color: #000000;
}

/*textos*/

h1 {
  color: #000;
  font-size: 32px;
  margin: 20px 0 20px;
  text-align: center;
}

h2 {
  color: #333;
  font-size: 24px;
  margin: 10px 0;
}

p {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.high {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.fonte-clara{
  color: #fff;
}

/*conteudo*/

.conteudo {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.conteudo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  max-width: 200px;
  max-height: 300px;
  margin-bottom: 30px;
}

/* SECTION GRID 3 */

/* Estilos para o grid de notícias */
.noticias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.noticia {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  transition: transform 0.2s, box-shadow 0.2s;
}

.noticia:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.noticia img {
  width: 100%;
  height: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.noticia h2 {
  color: black;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.noticia p {
  font-size: 1rem;
  color: #666;
}


/*Sobre nós*/

.team-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.team-description {
  text-align: justify;
  max-width: 800px;
  margin-bottom: 20px;
}

.team-member {
  text-align: center;
  flex: 1;
}

.team-member img {
  width: 20vw;
  max-width: 180px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.team-member p {
  font-size: 16px;
  margin: 0 0;
}

.nome {
  font-size: 20px !important;
}




/*Contato*/

.contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  color: #fff;
  background-color: #862727;
}


/*Footer*/

footer {
  bottom: 0;
  width: 100vw;
  display: flex;
  background-color: #9b9b9b;
  padding: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #4b4a4a;
  height: 60px;
}

.con {
  position: fixed;
}

#footer a:hover {
  color: #9b3535;
}